<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style type="text/css">
        .sidebar {
            height: 100vh;
        }
    </style>

    <title>Index</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand" href="#" th:text="${user.getEmail() + ' with roles: ' + user.getAuthorities()}">admin@mail123.ru with roles: ADMIN USER</span>
        <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row sidebar">
        <div class="d-flex align-items-start">
            <div class="col col-2 mt-3 p-0">
                <div class="nav flex-column nav-pills d-grid gap-1" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">

                    <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#userPage" type="button" role="tab" aria-controls="v-pills-profile"
                            aria-selected="true">User
                    </button>
                </div>
            </div>

            <div class="col col-10 bg-light px-4" id="rightBlock">
                <div class="mt-3">
                    <div class="tab-content" id="v-pills-tabContent">
                        <!--Вкладка User-->
                        <div class="tab-pane fade show active" id="userPage" role="tabpanel"
                             aria-labelledby="v-pills-home-tab">

                            <h1>User inforamtion-page</h1>

                            <div id="userTable">
                                <div class="col p-3 pb-2 border border-bottom-0 rounded-top bg-light ">
                                    <h5 class="">About user</h5>
                                </div>
                                <div class="col p-3 border bg-white">
                                    <div class="row">
                                        <div class="pt-1 bg-white ">
                                            <table class="table table-striped table-hover table-borderless">
                                                <thead>
                                                <tr>
                                                    <th>UserName</th>
                                                    <th>Age</th>
                                                    <th>Email</th>
                                                    <th>Password</th>
                                                    <th>Role</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="border-top">
                                                    <td th:text="${user.getName()}"> user</td>
                                                    <td th:text="${user.getAge()}"> userAge</td>
                                                    <td th:text="${user.getEmail()}"> userEmail</td>
                                                    <td th:text="${user.getPassword()}"> userPassword</td>
                                                    <td th:text="${user.getRoleSet()}"> userRoleSet</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    <br/>-->
    <!--    <hr/>-->
    <!--    <a href="/admin/new">Create new user</a>-->
    <!--    <br/>-->
    <!--    <a href="/admin/creatDefaultUsers">Create creatDefaultUsers</a>-->
    <!--    <br/>-->
    <!--    <hr/>-->
    <!--    <a href="/hello">hello</a>-->
    <!--    <br/>-->
    <!--    <a href="/logout">Logout</a>-->


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->

</body>
</html>